<div class="form-group">
  <label for="note">Add a note: </label>
  <input type="text" required="true" name="text" value="<%= note.text %>" class="form-control" placeholder="What's on the list today?">
</div>