<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  <%- include('_headingnavbar')%>
  <h1>New Recipe</h1>
  <form action="/recipes" method="POST">
    <%- include('_form')%>
  </form>
  </body>
</html>